*{
    margin: 0;
    padding: 0;
}
img{
    /* margin:20px; */
    padding-right:30px;
    border-radius:103px;
}
video{
    height:220px;
    margin:230px;
    position:relative;

    /* left:px; */
    /* opacity:0.5; */
}
header{
    background:black;
    height:83px;
    width:100vw;
    color:white;
    /* position:fixed; */
    z-index:10;
}
a{
    color:white;
    text-decoration:none;
    position:relative;
    left:33px;
    padding:23px;
    margin-top:33px;
    position: relative;
    bottom: 18px;
}
nav{
    display:inline-block;
}
img{
    width:8vw
}
.logo{
    display:inline-flex;
    align-items:center;
    font-weight:bold;
}
audio{
    position:relative;
    bottom:490px;
}
#opt1{
    position:relative;
    left:20px;
    top:-37px;
}
#song{
    position:relative;
    top:-37px;
}
body{
    background-color: burlywood;
}
main{
    min-height:66vh;
    width:80vw;
    margin:5vh 10vw;
    background-color: black;
    color:white;
    display:inline-flex;
}

h1{
    font-size:20px;
    margin:10px;
}
footer{
    position:sticky;
    background-color: black;
    height:60px;
    width:100vw;
    display:inline-flex;
    /* align-items:center; */
    justify-content:center;
    padding-top:15px;
}
input{
    width:80vw;
}
i{
    color:white;
    cursor:pointer;
}
#opt{
    position:relative;
    right:50%;
    top:3vh;
    font-weight:bolder;
    font-size:20px;
 }